#pf2e-automations-rules-form {

    .sheet-tabs.tabs {
        border: 0px;
    }

    section.window-content {
        display: grid;
        grid-template-areas:
            "header header"
            "filter data"
            "fotter fotter";
        grid-template-columns: 3fr 4fr;
        grid-template-rows: 30px auto 30px;
    }

    section.window-content > nav.tabs {
        grid-area: header;
        padding-bottom: 15px;
    }

    section.window-content > div.filter-area {
        grid-area: filter;
    }

    section.window-content > section.active {
        grid-area: data;
    }

    section.window-content > div.buttons {
        grid-area: fotter;
    }

    .activation-area, .order-area {
        display: flex;
        justify-content: space-between;
        margin: 1em;
        flex-wrap: wrap;
    }

    section.active {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .list-area {
        .label-row {
            display: flex;
            align-items: center;
        }

        .export-rule {
            margin-left: auto;
        }

        .remove-row, .edit-row {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

#pf2e-automations-ruleGroup-form, #pf2e-automations-baseRule-form, #pf2e-automations-complexRule-form {
    .active-controls {
        display: flex;
        align-items: center;
        padding: 5px;

        > label {
            width: 200px;
        }
    }

    .form-group.buttons {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 98%;
        margin: 6px;
    }
}

.dialog-scroll {
    margin: 5px;
    padding: 5px;
    width: 360px;
    height: 250px;
    overflow: auto;
    text-align: justify;
}


.spell-message {
    font-weight: 700;

    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    word-break: break-all;
}

.spell-message li img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 3px;
}

.spell-message ul {
    list-style-type: none;
    padding: 0 0 0 0.2em;
}

.dismiss-spell-item, sustain-spell-item {
    display: flex;
}

.spell-message-item {
    padding: 0 0 1em 0;
}

.spell-message-item-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.message-metadata {
    a.message-ping {
        margin-right: 2px;
    }
}

#effects-panel .effect-item > .icon .value-dc {
    position: absolute;
    bottom: -1px;
    right: -1px;
    max-width: calc(100% + 2px);
    padding: 0px 2px;
    color: var(--text-light);
    background-color: rgba(0, 0, 0, 0.75);
    font-size: var(--font-size-11);
    letter-spacing: -0.05em;
    white-space: nowrap;
    overflow: hidden;
}

.failed-flat-check, .failed-flat-check [data-visibility="gm"],
.failed-flat-check button,
.failed-flat-check .content-link,
.partial-flat-check, .failed-flat-check [data-visibility="gm"],
.partial-flat-check button,
.partial-flat-check .content-link {
    background: linear-gradient(rgb(218 216 204 / 50%) 0 0);
}

.failed-flat-check .flat-check-hint {
    color: #790707;
}

.partial-flat-check .partial-check-hint {
    color: #955353;
}

.pd5 {
    padding-top: 5px;
}

.roll-min-damage, .roll-max-damage {
    font-family: "Font Awesome 6 Pro";
    flex: 1;
}
