.create-rule > div {
    flex: 1;
}

.title-group {
    flex: 3;
}

.rule-header {
    display: flex;
    justify-content: space-between;
}

.rule-header h3 {
    border-bottom: none;
}

.rule-header .rule-controls {
    display: flex;
    margin: 0 0 0 4px;
    gap: 2px;
    align-items: center;
    justify-content: start;
}

.edit-rule {
    margin: 5px;
}

.rule-controls {
    display: flex;
    align-items: center;
    justify-content: end;
}

form .rule-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rule a.object img {
    width: 16px;
    height: 16px;
}

a.object {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.rule > div {
    align-items: center;
}

.tc {
    text-align: center;
}

.remove-rule-trigger,
.remove-rule-requirement {
    text-align: right;
    padding: 3px;
}

.active-controls {
    display: flex;
    align-items: center;
}

.item-controls {
    display: flex;
}

.right-end {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

a.remove-handler {
    flex: 0.1;
}

#pf2e-automations-updateActorHandlers .package-list div.title,
#pf2e-automations-updateItemHandlers .package-list div.title,
#pf2e-automations-createItemHandlers .package-list div.title,
#pf2e-automations-deleteItemHandlers .package-list div.title,
#pf2e-automations-messageCreateHandlers .package-list div.title,
#pf2e-automations-settings .package-list div.title {
    color: var(--color-text-dark-primary);
}

.rules-sync-row {
    display: flex;
    justify-content: space-between;

    div {
        flex: 1;
    }
}

#pf2e-automations-rule-form {

    .rule-controls {
        justify-content: start;
    }

}

#pf2e-automations-list-rules-form {

    .rule-list {
        height: 100%;

        section.tab {
            height: calc(100% - 65px);
            flex: 1;
        }
    }

    .form-group.buttons {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 98%;
        margin: 6px;
    }

    .wrapper {
        display: flex;
        height: 100%;
    }

    .data {
        display: flex;
        height: 100%;
        flex: 2;

        ul {
            width: 100%;
        }
    }

    .center-btn-filter {
        display: flex;
        justify-content: space-around;
    }

    .create-rule {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-around;
        height: calc(100% - 65px);
        padding-top: 10px;
    }
}

.pd10 {
    padding-top: 10px;
}

.dialog-scroll {
    margin: 5px;
    padding: 5px;
    width: 360px;
    height: 250px;
    overflow: auto;
    text-align: justify;
}