<ul class="list-area">
    {{#each data as |item|}}
        <li data-uuid="{{item.uuid}}">
            <label class="label-row">
                <input type="checkbox" {{checked item.isActive}} name="{{item.uuid}}" data-dtype="Boolean" >
                {{item.name}}
                <a class="export-rule fa-solid fa-file-export" data-tooltip="Export rule"></a>
                <a class="edit-row fas fa-edit" data-tooltip="Edit rule"></a>
                <a class="remove-row fas fa-trash" data-tooltip="Delete rule"></a>
            </label>
        </li>
    {{/each}}
</ul>